@{
    ViewData["Title"] = "Business Analytics";
}

<div class="text-left">
    <div>
        <iframe width="1140" height="650" src="https://app.powerbi.com/reportEmbed?reportId=04494d7c-b9ca-4596-a00e-fe4527f40504&autoAuth=true&ctid=a312dd20-1dfe-454d-b696-62575c78b07f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWV1cm9wZS1ub3J0aC1iLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
