@{
    ViewData["Title"] = "Business Analytics";
}

<div class="text-left">
    <h1 class="display-4">Database Analysis</h1>
    <iframe src="https://powerbi.microsoft.com/en-us/get-started/"
            style="border: 0; width:100%; height:500px;">
    </iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
