@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

<p>
    The DimDatPro web application was developed as part of the CMPG323 Project 2 requirements. The system was developed
    using ASP.NET MVC core and a SQL Server Database was used to import the given CSV dataset from file. T